<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/estilos.css" type="text/css">
    {% block importar %}{% endblock %}
</head>
<body>
    <header>
        <figure>
            <img src="{{ STATIC_URL }}img/logoblanco.png" alt="Logo" width="100px">
        </figure>
        <div id="caja-h1">
            <h1>Blog de Tecnologia</h1>
        </div>
        <div id="redes-sociales">
            <a href="http://www.twitter.com" class="icon-twitter" target="_blank"></a>
            <a href="http://www.facebook.com" class="icon-facebook" target="_blank"></a>
            <a href="http://www.plus.google.com" class="icon-google-plus" target="_blank"></a>
            <a href="http://www.github.com" class="icon-github" target="_blank"></a>
            <a href="http://www.pinterest.com" class="icon-pinterest" target="_blank"></a>
        </div>
        <div id="caja-login">
            <a href="" id="login">Login</a>
        </div>
		<div id="caja-registrarse">
            <a href="" id="registrarse">Registrarse</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Contacto</a></li>
            <li id="publicar"><a href="#">Publicar</a></li>
        </ul>
    </nav>
    {% block slider %}{% endblock %}
    <div id="contenido">
        {% block contenido %}{% endblock %}
        <aside>
		<h2>Las primeras 5</h2>
            {% for item in publicacion %}
                <article>
                    {{item.titulo}} <br>
                    {{item.contenido|truncatewords:5}}
                </article>
            {% endfor %}
        </aside>
    </div>
    <footer>
        Copyright &copy;
    </footer>
</body>
</html>