<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/estilos.css" type="text/css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    {% block importar %}{% endblock %}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    {% block importar2 %}{% endblock %}
</head>
<body>
    <header>
        <figure>
            <img src="{{ STATIC_URL }}img/logoblanco.png" alt="Logo" width="100px">
        </figure>
        <div id="caja-h1">
            <h1>Blog de Tecnologia</h1>
        </div>
          <div id="bienvenido">
            {% if user.is_authenticated %}
                <p>Bienvenido <em>{{user.username|capfirst}}</em></p>
            {% endif %}
        </div>
        <div id="redes-sociales">
            <a href="http://www.twitter.com" class="icon-twitter" target="_blank"></a>
            <a href="http://www.facebook.com" class="icon-facebook" target="_blank"></a>
            <a href="http://www.plus.google.com" class="icon-google-plus" target="_blank"></a>
            <a href="http://www.github.com" class="icon-github" target="_blank"></a>
            <a href="http://www.pinterest.com" class="icon-pinterest" target="_blank"></a>
        </div>
        <div id="caja-login">
            {% if user.is_authenticated %}
               <a href="/salir/" id="salir">Salir</a> 
            {% else %}
                <a href="/login/" id="login">Login</a>
            {% endif %}
        </div>
        {% if user.is_authenticated == False %}
    		<div id="caja-registrarse">
                <a href="/registrarse/" id="registrarse">Registrarse</a>
            </div>
        {% endif %}
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/noticias/">Noticias</a></li>
            <li><a href="/categorias/">Categorias</a></li>
            <li><a href="/contacto/">Contacto</a></li>
            <li id="publicar"><a href="/publicacion/">Publicar</a></li>
        </ul>
    </nav>
    {% block slider %}{% endblock %}
    <div id="contenido">
        {% block contenido %}{% endblock %}
        <aside>
		<h2>Las primeras 5</h2>
            {% for item in publicacion %}
                <article>
                    <h1>{{item.titulo}}</h1>
                    <figure>
                        {% load thumbnail %}
                        <img src="{% thumbnail item.imagen 50x50 crop %}" alt="Imagen de Publicacion" />
                    </figure>
                    <p>{{item.contenido|truncatewords:15}}</p>
                    <a href="/noticia/{{item.id}}">Leer mas..</a>                   
                </article>
            {% endfor %}
        </aside>
    </div>
    <footer>
        <p>Diseñado y elaborado por:</p><br>
        <p>Karla Liliana Jaurez Gomez</p>
        <p>Fausto David Sanchez Salazar</p>
        <p>Copyright &copy; www.blogTech.com</p><br>
    </footer>
</body>
</html>